@import "color";

.title {
  font-weight: 700;
  font-size: 24px;
}

.buttons {
  margin: 15px 0px;
}

em {
  font-style: normal;
  font-size: 15px;
  font-weight: 700;
  margin: 5px;
}

p {
  margin: 5px;
}

.modal-error {
  margin: 16px;
}

.modal-header {
  margin-bottom: 0px;
}

.modalx-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03125em;
}

.modalx {
  margin-top: 129px !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $primary-Color;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

@media (max-width: 992px) {
  .modalx {
    margin-top: 10px !important ;
  }
}
