<section class="modalx">
  <div class="header">
    <h4 class="modalx-title">Confirm Booking <p>{{bookingdata.startAt}} to {{bookingdata.endAt}}</p>
    </h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="confirmationModal.close()">
  </button> -->

  </div>
  <hr style="color: red;">
  <div class="modal-body">
    <em>{{bookingdata.nights}}</em> nights /
    <!-- Nightly Price -->
    <em>${{bookingdata.rental.dailyPrice}}</em> per Night
    <!-- Guests -->
    <p>Guests: <em>{{bookingdata.guests}}</em></p>
    <!-- Total Price -->
    <p>Price: <em>${{bookingdata.price}}</em></p>
    <p>Do you confirm booking for selected days?</p>
  </div>
  <!-- <div *ngIf="errors" class="alert alert-danger modal-error">
    <p>
      {{errors}}
    </p>
  </div> -->
  <hr style="color: red;">
  <div class="modal-footer">
    <button type="button" class="btn bwm-btn-main" (click)="confirmbooking()">Confirm</button>
    <button type="button" class="btn bwm-btn-main2 m-lg-2" (click)="close()">Close
    </button>
  </div>
</section>