<div class="modalx">

  <div class="header text-center">
    <h2 class="modalx-title">Booking Dates <p>{{bookingdata.startAt}} to
        {{bookingdata.endAt}}</p>
    </h2>
  </div>

  <hr style="color:white;">

  <div class="modal-body text-center">
    <em style="color:yellow;font-size: x-large;">{{bookingdata.nights}} nights</em>/
    <!-- Nightly Price -->
    <em>${{bookingdata.rental.dailyPrice}}</em> per Night
    <!-- Guests -->
    <p>Guests: <em>{{bookingdata.guests}}</em></p>
    <!-- Total Price -->
    <p>Price: <em style="color:yellow; font-size:x-large;">${{bookingdata.price}}</em></p>
    <p>Do you confirm booking for selected days?</p>
  </div>

  <hr style="color: white;">

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmbooking()">Confirm</button>
    <button type="button" class="btn btn-warning m-lg-2" (click)="close()">Close
    </button>
  </div>

</div>