<section class="container py-5" id="rentalDetails" *ngIf="rental && rental._id">
  <div class="upper-section col">
    <div class="row">
      <div class="bgclass" class="col-sm-6">
        <app-image-editable [rental]="rental"></app-image-editable>
      </div>

      <div class="col-sm-6">
        <app-map [rentallocation]="rental.city +',' +rental.street" [mapNotifier]="$locationSubject"></app-map>
      </div>

    </div>
  </div>

  <div class="details-section col-6">
    <div class="row">
      <div class="col-md-12">
        <div class="rental">

          <h2 [appHighlight]="bgColor" class="rental-type type-{{rental.category}}">
            <span>shared:=></span>

            <app-editable [entity]="rental" class="d-inline-flex m-lg-2" [field]="'shared'" [type]="'select'"
              [option]="['true','false']" [htmltagtype]="'select'"
              (entityupdated)="updateRental($event)"></app-editable>

            <app-editable [entity]="rental" class="d-inline-flex m-lg-2" [field]="'category'"
              [option]="rentalcategories" [type]="'select'" [htmltagtype]="'select'"
              (entityupdated)="updateRental($event)"></app-editable>

          </h2>

          <h1 class="rental-title">
            <app-editable [entity]="rental" [field]="'title'" [type]="'text'" [htmltagtype]="'input'"
              (entityupdated)="updateRental($event)"></app-editable>
          </h1>

          <h2 class="rental-city">
            <app-editable [entity]="rental" [field]="'city'" [type]="'text'" [htmltagtype]="'input'"
              (entityupdated)="updateRental($event)"></app-editable>
          </h2>

          <h2 class="rental-city">
            <app-editable [entity]="rental" [type]="'text'" [field]="'street'" [htmltagtype]="'input'"
              (entityupdated)="updateRental($event)"></app-editable>
          </h2>


          <div class="rental-room-info">
            <span><i class="fa fa-building">
                Rooms:
              </i><app-editable [type]="'number'" class="d-inline-flex" [htmltagtype]="'input'" [entity]="rental"
                [field]="'numOfRooms'" (entityupdated)="updateRental($event)"></app-editable></span>
            <span><i class="fa fa-user"></i>{{convertStringtoNumber(4)}} guests</span>
            <span><i class="fa fa-bed"></i>{{convertStringtoNumber(2)}} beds</span>
          </div>

          <p class="rental-description">
            <app-editable [entity]="rental" [field]="'description'" (entityupdated)="updateRental($event)"
              [htmltagtype]="'textarea'"></app-editable>
          </p>
          <hr>
          <div class="rental-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Cooling</span>
                <span><i class="fa fa-thermometer"></i> Heating</span>
                <span><i class="fa fa-location-arrow"></i> Iron</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Working area</span>
                <span><i class="fa fa-cube"></i> Washing machine</span>
                <span><i class="fa fa-cube"></i> Dishwasher</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<router-outlet></router-outlet>