<!-- ///////////////////////////////////////////////// -->
<div class="container-xxl py-5">
  <div class="container">

    <div class="notfound-section d-flex justify-content-center align-items-center"
      *ngIf="rental?.length === 0 && !isFetching">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-content">
              <h1 style="color: white;">
                Sorry! No result found
              </h1>
              <p style="color: white; font-size: medium;">we are sorry what you were looking for.Please try another way.
              </p>
              <a class="btn btn-warning btn-lg" routerLink="/rental/new">Creat Rental</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" *ngIf="rental?.length !== 0 && isFetching">
      <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let el of rental ">
            <app-cards [rentalsend]="el"></app-cards>

            <div class="row weapperow m-1">
              <button class="col m-1 btn btn-danger" (click)="deleterental(el._id)">delete</button>
              <button class="col m-1 btn btn-primary" (click)="Edit(el._id)">Edit</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>