<div class="notfound-section d-flex justify-content-center align-items-center mt-4"
  *ngIf="booking?.length === 0 && !isFetching">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-content">
          <h1 style="color: white;">
            Sorry! No result found
          </h1>
          <p style="color: white; font-size: medium;">we are sorry what you were looking for.Please try another way.</p>
          <a class="btn btn-warning btn-lg" routerLink="/rental">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>





<section id="userBookings" class="py-3">
  <h1 class="page-title" *ngIf="booking.length!==0">{{title}}</h1>

  <div class="row g-4">
    <ng-container *ngIf="booking">
      <div class="col-lg-4 col-md-6" *ngFor="let el of booking">
        <div class="card text-center">

          <div class="card-header">
            From: {{el.user.username}}
          </div>

          <div class="card-block">

            <ng-container>
              <h1 style="font-size:xx-large;" class="card-title">{{el.rental.title}}</h1>
              <h6 class="card-title"><i class="lni lni-map-marker"></i>{{el.rental.street}}, {{el.rental.city}}</h6>
            </ng-container>

            <p class="card-text booking-days">
              {{el.startAt |timeFormat}} - {{el.endAt |timeFormat}} | <span
                style="color:yellow;font-size: large;">{{el.nights}}
                nights</span>
            </p>

            <p class="card-text"><span>Price: </span> <span style="color: yellow; font-size: x-large;"
                class="booking-price-value">${{el.price}}</span></p>

            <div class="row weapperow m-1">
              <a class="col m-1 btn btn-primary" routerLink="/rental">Home</a>
              <button class="col m-1 btn btn-warning" *ngIf="type === 'all'"
                (click)="deleteRecivedBooking(el._id)">Delete</button>
            </div>

          </div>

          <div class="card-footer text-muted">
            createdAt : {{el.createdAt |timeFormat}}
          </div>

        </div>
      </div>
    </ng-container>
  </div>
</section>