@import "color";

#userBookings {
  .card {
    margin-bottom: 20px;
    border: 1px dashed rgba(0, 185, 142, 0.3);

    &:hover {
      border: 2px dashed rgba(0, 185, 142, 0.3);
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  .card-block {
    padding: 20px;
    background: $primary-Color;
    color: white;
  }

  .card-header {
    text-transform: capitalize;
  }

  .card-title {
    font-size: 18px;
  }

  .booking {
    &-desc {
      font-size: 14px;
    }

    &-days {
      font-size: 14px;
      font-weight: bold;
    }

    &-price-value {
      font-weight: 700;
    }
  }

  // .btn-bwm {
  //   color: white;
  //   font-size: 14px;
  //   padding: 15px;
  // }
}

///////////////////////////////////////////////////////
.notfound-section {
  width: 100%;
  height: 28.125rem;
  background-image: url("/assets/images/notfound2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 6.25rem;
  text-align: center;
}
