<div class="mt-1">
  <label class="image-upload-container btn bwm-btn-main">
    <span>Select Image</span>
    <input #fileInput type="file" accept="image/*" (change)="OnImageLoad($event)">
  </label>



  <div *ngIf="selectedImage && fileInput.value &&isImagePreview" class="img-preview-container">
    <div class="img-preview">
      <img [src]="selectedImage.src" [ngClass]="selectedImage.status==='PENDING'?'blur':''">
      <div *ngIf="selectedImage?.status === 'PENDING'  && fileInput.value" class="spinner-container">
        <app-spinner></app-spinner>
      </div>

    </div>

  </div>




  <div *ngIf="selectedImage?.status === 'UPLOADED' && fileInput.value" class="alert alert-success mt-2">
    Image has been uploaded succesfuly!
  </div>
  <div *ngIf="selectedImage?.status === 'ERROR' && fileInput.value" class="alert alert-danger mt-2">
    Image uploade failed!
  </div>


  <div *ngIf="selectedImage && fileInput.value" class="mt-1">
    <button *ngIf="selectedImage.status === 'LOADED'" (click)="uploadImage()" class="btn btn-success mr-1"
      type="button">Upload Image
    </button>
    <button *ngIf="isImagePreview" (click)="cancelImage(fileInput)" class="btn btn-danger" type="button">Cancel
    </button>
  </div>

</div>