<!-- oo
<button (click)="onadd()">add</button>
{{number}}
<button (click)="onmin()">add</button> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">BookwithMe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex me-auto " role="search">
        <input class="form-control me-2 bwm-serch" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary bwm-btn-main" type="submit">Search</button>
      </form>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li *ngIf="authstatus" class="nav-item">
          <a class="nav-link" aria-current="page">hellow..{{username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" aria-current="page">Home</a>
        </li>
        <li *ngIf="authstatus else notauthmenu" class="nav-item">
          <a class="nav-link active" routerLink="/" aria-current="page" (click)="logout()">logout </a>
        </li>
        <ng-template #notauthmenu>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">register</a>
          </li>
        </ng-template>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a> -->
        <!-- <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        <!-- </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>