/////////////////rommrental///////////////////
$primary-Color: #00b98e;
$secondary-Color: #ff6922;
$third-Color: #0d6efd;
$light-Color: #effdf5;
$dark-Color: #0e2e50;

$dark-red-color: #f44336;
$dark-gray-color: #484848;
